# 作为示例的 环境配置，development.env  production.env 个人的开发环境、生产环境的配置文件不在git版本管理中，请以此配置

SERVER_PORT = 3000
BS_URL = 'api' # 公共路劲，不需要可以去掉，main.ts中

# ORM_LOADING_PATH=src
DB_TYPE = 'mysql'
DB_HOST = 'localhost'
DB_PORT = 3306
DB_USER = 'root'    #用户名
DB_PWD = 'root'     # 密码
DB_DB = 'nest_base' # 库名
DB_SYN = true

# Redis 配置
RD_NAME_SPACE= "default"
RD_PORT= 6379
RD_HOST= '127.0.0.1'
RD_DB= 0
RD_PWD= ''

# jwt密钥
SECRET='nest_base'
# 小时 过期时间
EXPIRES_IN='168h'

# 七牛云相关密钥
QINIU_ACCESS_KEY=''
QINIU_SECRET_KEY=''
QINIU_BUCKET_NAME=''

# 微信小程序配置
WEAPP_APPID = ''
WEAPP_APPSECRET = ''
